@charset "UTF-8";

    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 50px;
    }
    table {
        margin: 0 auto;
        border-collapse: collapse;
    }
    td {
        padding: 10px;
    }
    input[type="submit"] {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }